<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebServerIP" value="10.16.1.157"/>
    <add key="DataCenterIP" value="10.16.0.58"/>
    <add key="DataSetsDir" value="\\{0}\RNBLManager\Testing\" />
    <add key="UITestsDataDir" value="\\{0}\qa\Automation\Touch.UITests.Data\" />
  </appSettings>
</configuration>